body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,th,caption,hr,h1,h2,h3,h4,h5,h6,img,header,nav,section,article,footer{
    margin:0;
    padding:0;
}
ul,ol,li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
}
i,em{
    font-style: normal;
}
html{
    font-size: 26.67vw;
    // height: 100%;
    background: #f4f4f4; 
    overflow-x: hidden;   
}
body{
    font-family: "Microsoft Yahei",Arial;
    //background: silver;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
}
img,input,span{
    border:none;
}

// footer
footer{
    background: #f4f4f4;
    border-top:1px solid #ababab;
    width:100%;
    position: fixed;
    bottom:0;
    ul{
        display: flex;
        height:0.49rem;
        li{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: 0.12rem;
                color:#8f8f8f;
                img{
                    width:0.25rem;
                    height:0.22rem;
                }
                span{
                    line-height: 0.2rem;
                }
            }
        }
    }
}
// footer end