body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,th,caption,hr,h1,h2,h3,h4,h5,h6,img,header,nav,section,article,footer{
  margin:0;
  padding:0;
}
ul,ol,li{
  text-decoration: none;
}
a{
  text-decoration: none;
}
i,em{
  font-style: normal;
}
html{
  font-size: 26.67vw;
  height: 100%;
}
body{
  font-family: "Microsoft Yahei",Arial;
}
img,input,span{
  border:none;
}