@import '_common';
//signal
.signal{
    width:100%;
    height:0.22rem;
    background:#000;
}
//signal end

//carousel
.carousel {
    width:3.75rem;
    height:1.68rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .top-fix{
        position: absolute;
        width:100%;
        padding:0 0.1rem;
        box-sizing: border-box;
        height:0.26rem;
        top:0.1rem;
        display: flex;
        justify-content: space-between;
        z-index:999;
        font-size: 0;
        img{
            width:0.26rem;
            height:0.26rem;
        }
        .r{
            display: flex;
            .email{
                margin-left: 0.12rem;
            }
        }
    }
    .slide {
        width:3.75rem;
        height:1.68rem;
        li {
            position: absolute;
            img {
                width:3.75rem;
                height:1.68rem;
            }
        }
    }
    .bullet {
        width: 100%;
        height:0.07rem;
        position: absolute;
        bottom: 0.21rem;
        display: flex;
        justify-content: center;
        z-index: 10;
        span {
            width:0.07rem;
            height:0.07rem;
            border-radius: 50%;
            background: #a7a9a8;
            display:block;
            margin-right:0.09rem;
        } 
        .active {
            background: #fff;
        }
    }
    .image-enter-active {
        transform: translateX(0);
        transition: all 1s ease;
    }
    
    .image-leave-active {
        transform: translateX(-100%);
        transition: all 1s ease;
    }
    
    .image-enter {
        transform: translateX(100%)
    }
    
    .image-leave {
        transform: translateX(0)
    }
}
//carousel end

// choice
.choice{
    width:100%;
    // height:2.34rem;
    background: #f4f4f4;
    // background: #fff;
    .choice-box{
      width:3.54rem;
      margin:0.1rem auto 0;
      background: #fff;
      .title{
        display: flex;
        height: 0.32rem;
        h2{
          flex: 1;
          text-align: center;
          font-size: 0.16rem;
          background: #d3e0e6;
          color:#002661;
          font-weight: 500;
          line-height: 0.32rem;
        }
        .active{
          background: #fff;
          color:#2faae3;
        }
      }
      .info{
        margin:0.1rem 0.1rem 0;
        .city{
          display: flex;
          // justify-content: space-around;
          justify-content: center;
          align-items: center;
          a{
            width:1.5rem;
            height:0.36rem;
            border:1px solid #d7dce0;
            box-sizing: border-box;
            text-indent: 0.11rem;
            color:#4d4d4d;
            font-size: 0.18rem;
            line-height: 0.36rem;
            border-radius: 0.02rem;
          }
          img{
            width:0.32rem;
            height:0.32rem;
            vertical-align: middle;
            margin:0 0.05rem;
          }
        }
        .date{
          margin-top:0.1rem;
          display: flex;
          justify-content: space-between;
          a{
            width:1.62rem;
            height:0.35rem;
            border:1px solid #d7dce0;   
            box-sizing: border-box;    
            border-radius: 0.02rem;                 
          }
        }
        .person{
          margin-top:0.1rem;
          display: flex;
          justify-content: space-between;
          .amount{
            width:1.32rem;
            height:0.36rem;
            border:1px solid #d7dce0;
            border-radius: 0.02rem;   
            font-size: 0.15rem;      
            display: flex;
            justify-content: space-around;         
            span{
              // font-size: 0.15rem;
              flex: 1;
              text-align: center;
              em{
                font-weight: 700;
                line-height: 0.36rem;
              }
              i{
                // font-size: 0.15rem;
                line-height: 0.36rem;
              }
            }
          }
          .search{
            width:1.94rem;
            height:0.36rem;
            border-radius: 0.15rem;
            background: #e30048;
            text-align: center;
            color:#fff;
            font-size: 0.15rem;
            line-height: 0.36rem;
          }
        }
        .insurance{
          display: flex;
          justify-content: center;
          align-items: center;
          height:0.35rem;
          line-height: 0.35rem;
          font-size: 0.12rem;
          img{
            width:0.17rem;
          }
          span{
            margin-left:0.07rem;
            color:#34b0e4;
          }
        }
      }
    }
}
// choice end

// tab
.tab{
    margin-top:0.1rem;
    background: #fff;
    .tab-list{
        display: flex;
        height:0.66rem;
        li{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: 0.12rem;
                color:#4c4c4c;
                img{
                    width:0.31rem;
                    height:0.24rem;
                }
                span{
                    line-height: 0.23rem;
                }
            }
        }
        &:nth-child(1){
            border-bottom:1px solid #eff0f2;
        }
    }
}
// tab end

// banner
.banner{
    margin-top:0.1rem;
    padding:0.13rem 0.12rem;
    display: flex;
    justify-content: space-between;
    background: #fff;
    a{
        display: block;
        width:1.7rem;
        height:0.94rem;
        border-radius: 0.02rem;
        img{
            width:100%;
            height:100%;
            vertical-align: top;
        }
    }
}
// banner end

// section
.section{
    margin-top:0.1rem;
    padding:0 0.12rem;
    position: relative;
    background: #fff;
    .title{
        span{
            position: absolute;
            left: 0;
            top:0.12rem;
            display: block;
            width:0.06rem;
            height: 0.15rem;
            background: #66bbe4;
        }
        h2{
            font-size: 0.15rem;
            font-weight: 500;
            line-height: 0.4rem;
        }
    }
    .content{
        .top-img{
            height:0.875rem;   
            a{
                border-radius: 0.02rem;
                height:0.875rem;             
                img{
                    width:100%;
                    vertical-align: top;
                }
            }   
        }
        .bottom-img{
            display: flex;
            justify-content: space-between;
            margin-top:0.11rem;
            padding-bottom:0.13rem; 
            a{
                border-radius: 0.02rem;  
                height:1.06rem;          
                border:1px solid #f1f1f3;              
                img{
                    width:1.11rem;
                    height:1.06rem;
                    vertical-align: top;
                }
            }
        }
    }
}
// section end

// section-one
.section-one{
    margin-top:0.1rem;
    padding:0 0.12rem 0.1rem;
    position: relative;
    background: #fff;
    .title{
        span{
            position: absolute;
            left: 0;
            top:0.12rem;
            display: block;
            width:0.06rem;
            height: 0.15rem;
            background: #a3c979;
        }
        h2{
            font-size: 0.15rem;
            font-weight: 500;
            line-height: 0.4rem;
        }
    }
    .content{
        display: flex;
        justify-content: space-between;
        .content-l{
            position: relative;
            .boom{
                position: absolute;
                top:0px;
                left:-0.05rem;
                width:0.535rem;
                height:0.255rem;
                font-size: 0;
                img{
                    width:100%;
                    height:100%;
                }
            }
            .pic{
                width:1.69rem;
                height:1.81rem;
                img{
                    width:1.69rem;
                    height:1.81rem;
                }
            }
            p{
                font-size: 0.10rem;
                color:#909090;
                border:1px solid #e8ecef;
                height:0.27rem;
                line-height: 0.27rem;
                text-indent: 0.11rem;
                em{
                    font-size: 0.08rem;
                    color:#e5004a;
                }   
                span{
                    font-size: 0.11rem;
                    color:#e5004a;                    
                }
            }

        }
        .content-r{
            .r-top{
                a{
                    width:1.685rem;
                    height:0.865rem;
                    border:1px solid #eaeff2;
                    box-sizing: border-box;
                    img{
                        width:100%;
                        height:100%;
                        vertical-align: top;
                    }
                }
            }
            .r-bottom{
                margin-top:0.12rem;
                display: flex;
                justify-content: space-between;
                a{
                    width:0.8rem;
                    height:1.1rem;
                    border:1px solid #eaeff2;  
                    box-sizing: border-box;                                     
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
        }
    }
}
// section-one end







        
        
        
